.App{
    height: 100vh;
    background-color: rgb(6, 6, 6);
    color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stopwatch-container{
    background-color: white;
    width: 300px;
    height: 300px;
    color: black;
    text-align: center;
}
span{
    font-size: 3rem;
    margin-right:5px;
}
button{
    padding: 0.7rem 1rem;
    margin-right: 5px;
}